<form method="post" action="/messages">
  <label for="message">Message:</label>
  <textarea type="text" col="40" row="5" id="message" name="message"></textarea><br>
  <button>Submit</button>
</form>

<% messages.each do |message| %>

  <li>
    <%= message["message"] %>
    <form action="/messages/<%= message["id"] %>/edit" method="get">
      <button>Edit</button>
    </form>
    <form action="/messages/<%= message["id"] %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Delete</button>
    </form>
    <form action="/comments/<%= message["id"] %>/new" method="get">
      <button>Comment</button>
    </form>
    <p>Comments:</p>
    <% comments.each do |hash| %>
      <p><%= hash["comment"] if hash["message_id"] == message["id"] %></p>
    <% end %>
  </li>

<% end %>

